<header id="header-menu">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="/public/index.html">
                <img src="/src/assets/logo/LogoSinFondo-TalagardenViveroSantiago.png" alt="Logo Talagarden"
                    width="150" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/public/index.html">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Catálogo
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/src/components/frutales.html">Árboles</a></li>
                            <li><a class="dropdown-item" href="#">Parras</a></li>
                            <li><a class="dropdown-item" href="#">Rosas</a></li>
                            <li><a class="dropdown-item" href="#">Plantas</a></li>
                            <li><a class="dropdown-item" href="#">Arbustos</a></li>
                            <li><a class="dropdown-item" href="#">Cactus</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>