.banner-img {
    max-height: 25rem;
    object-fit: cover;
}

.title_related {
    background-color: var(--hunterGreen);
    color: white;
    text-align: center;
}
img.card-img-top {
    max-height: 15rem;
    object-fit: cover;
}